* {
    margin: 0;
    padding: 0;
 
    
}

.wrappers{
   width: 400px;
   margin: 0 auto;
   border: 1px solid #1A181A;
   padding: 20px;
   margin-top: 30px;
   border-radius: 5px 5px;
 
}

.btn-edits{
    margin-bottom: 15px;
    align-items: center;
    padding: 8px 20px;
}

.dontHaveAccount:link,
.dontHaveAccount:visited{
    color: black;
}